/* universal */

html, body {
	padding: 0;
	margin: 0;
}

html {
	display: block;
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
	box-sizing: border-box;
}

body {
	background-color: #f9f9f9;
	overflow-y: scroll;
}

h1 {
	font-size: 18px;
	font-weight: normal;
}
h3 {
	font-size: 14px;
	margin-bottom: 0;
	font-weight: 500;
}

/* main body content */
.columns {
	position: relative;
	padding-top: 100px;
	width: 85%;
	margin: auto;
	display: flex;
}


/* generic left column on page */
.left-column {
	float: left;
	width: 65%;
	display: block;
	padding-right: 30px;
	min-width: 480px;
}


/* main video */
.video-player {
	background-color: green;
	height: 0;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
}

.video-player iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}


/* info area */
.video-info {
	background-color: #f9f9f9;
	margin-top: 20px;
	min-height: 100px;
}

.video-info p {
	color: grey;
	font-size: 14px;
}
.video-info img {
	height: 24px;
	float: right;
	margin-bottom: 0;
	cursor: pointer;
}


/* description area */
.description {
	background-color: #f9f9f9;
	min-height: 150px;
	margin-top: 20px;
	font-size: 14px;
}

#microverse {
	border-radius: 50%;
	float: left;
	width: 40px;
	cursor: pointer;
}

#subscribe {
	float: right;
	height: 35px;
	cursor: pointer;
}

.description-text {
	display: inline-block;
	padding-left: 5px;
}
.description a {
	text-decoration: none;
}

#author {
	font-weight: bold;
	cursor: pointer;
}

#show-more {
	cursor: pointer;
}

#subscribers, #show-more {
	color: gray;
}


/* comments area */
.comments {
	background-color: #f9f9f9;
	min-height: 300px;
}

.top-of-comments {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
}

#sort {
	margin-left: 30px;
	height: 20px;
	cursor: pointer;
}

.make-comment {
	width: 100%;
	margin: 5px 0;
	padding: 5px 0;
}

.make-comment input {
	width: 75%;
	padding-left: 10px;
	margin-left: 10px;
	height: 25px;
	background-color: #f9f9f9;
	border: none;
}
.logo {
	border-radius: 50%;
	background-color: magenta;
	padding: 5px 10px;
	color: white;
	float: left;
	cursor: pointer;
}

.comment-text {
	display: inline-block;
	padding-left: 10px;
	font-size: 14px;
	max-width: 500px;
	margin-top: 10px;
}

.comment-date, .comment-react {
	color: gray;
}

.comment-react {
	cursor: pointer;
}

.view-replies {
	color: blue;
	cursor: pointer;
}


/*  video sidebar */
aside {
	background-color: #f9f9f9;
	width: 30%;
	height: 1000px;

}

.preview-box {
	background-color: #f9f9f9;
	margin: 5px 0;
	display: flex;
	align-items: flex-start;


}

.preview-box img {
	padding-top: 10px;
	padding-right: 10px;
	width: 40%;
	cursor: pointer;
}

.preview-text {
	cursor: pointer;
}
.preview-text p {
	font-size: 13px;
	font-weight: 500;
	margin: 0;
	color: grey;
}

.desktop-menu {
    color: #606060;
    margin: auto 20px;
}

.navbar-brand {
    display: flex;
}
.navbar-brand i {
    color: red;
    font-size: 23px;
    margin-top: 5px !important;
}

.navbrand-span {
    display: inline-block !important;
    font-weight: bold;
}
.navbar-form {
    margin-left: 180px;
    width: 50%;
    display: flex;
}

.navbar-form input {
    margin-right: 0 !important;
}

.navbar-form span {
    height: 38px;
    width: 70px;
    background: white;
    border: 1px solid #CCCCCC;
    text-align: center;
    border-radius: 3px;
    border-left: none;
}

.navbar-form span:hover {
    background: #F8F8F8;
}
.search-icon-nav {
    margin-top: 10px;
    color: #CCCCCC;
}

.right-side-icons {
    display: inline-block;
    margin-left: 4em;
}

.right-side-icons i {
    font-size: 150%;
    color: #606060;
    margin: auto 0.5em auto 0.5em;
}

/* MEDIA QUERIES */
@media(max-width: 1024px) {
    .navbar-form {
        margin-left: auto;
        /* width: 50%;
        display: flex; */
    }

    span.navbar-toggler-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    .right-side-icons {
        margin: auto 0.2em;
    }
}

@media(max-width: 400px) {
    .desktop-menu {
        display: none !important;
    }

    button.navbar-toggler {
        display: none !important;
    }
}
